MY_NAME=testing
# for w4 - we need to copy this file .env file and add our default value
PORT=<HTTP Server Port>
IP=<Server Listen IP>
FOLDER=<Static file folder>
ROOT=
DB_NAME=anguyen24
DB_HOST_PORT=192.168.120.30:27017
DB_USER=
DB_PASS=
